<VirtualHost *:8080>
  DocumentRoot "/srv/www"

  SetEnvIf Request_URI "^/favicon\.ico$" dontlog
  SetEnvIf Request_URI "^/robots\.txt$" dontlog

  <Directory /srv/www>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All

    Require all granted
  </Directory>
</VirtualHost>
