<VirtualHost *:8080>
  DocumentRoot "{{ envString "WEBROOT" }}"

  SetEnvIf Request_URI "^/favicon\.ico$" dontlog
  SetEnvIf Request_URI "^/robots\.txt$" dontlog

  <Directory {{ envString "WEBROOT" }}>
    Options Indexes FollowSymLinks MultiViews
    AllowOverride All

    Require all granted
  </Directory>
</VirtualHost>
