[global]
error_log = {{ getenv "PHP_ERROR_LOG" }}
log_level = {{ getenv "PHP_LOG_LEVEL" }}

daemonize = no

[www]
user = php
group = php

listen = 0.0.0.0:9000
listen.owner = php
listen.group = php
listen.mode = {{ getenv "PHP_LISTEN_MODE" }}

pm = ondemand
pm.max_children = {{ getenv "PHP_MAX_CHILDREN" }}
pm.max_requests = {{ getenv "PHP_MAX_REQUESTS" }}
pm.process_idle_timeout = {{ getenv "PHP_PROCESS_IDLE_TIMEOUT" }}
{{ if ne (getenv "PHP_STATUS_PATH") "" }}

pm.status_path = {{ getenv "PHP_STATUS_PATH" }}
{{ end }}
{{ if ne (getenv "PHP_PING_PATH") "" }}

ping.path = {{ getenv "PHP_PING_PATH" }}
ping.response = {{ getenv "PHP_PING_RESPONSE" }}
{{ end }}

chdir = {{ getenv "PHP_WEBROOT" }}

env[HOSTNAME] = $HOSTNAME
env[PATH] = /usr/local/bin:/usr/bin:/bin
env[TMP] = /tmp
env[TMPDIR] = /tmp
env[TEMP] = /tmp
