daemon off;
user nginx nginx;

error_log stderr warn;

pid /var/run/nginx.pid;
worker_processes {{ envString "WORKER_PROCESSES" }};

events {
  worker_connections {{ envString "WORKER_CONNECTIONS" }};
}

http {
  access_log /dev/stdout;
  sendfile {{ envString "SENDFILE" }};

  include /etc/nginx/mime.types;
  include /etc/nginx/fastcgi.conf;

  default_type application/octet-stream;

  tcp_nopush {{ envString "TCP_NOPUSH" }};

  client_body_temp_path /var/lib/nginx/client_body 1 2;
  fastcgi_temp_path /var/lib/nginx/fastcgi_temp 1 2;

  client_max_body_size 0;

  include /etc/nginx/custom.d/*.conf;

  server {
    include /etc/nginx/host.conf;
  }
}
